    <p>------------------------------------------------</p>
    <form class="form new-comment-form" data-id="{{post.id}}">
      <div class="form-group">
        <label for="body-post">New Comment:</label>
        <input class="form-input" type="text" id="comment-input" />
      </div>
      <div class="form-group">
      <button id="add-comment" class="btn btn-primary" type="submit" >Add Comment</button>
      </div>
    </form>

    <p>------------------------------------------------</p>
    {{!-- {{#compare session.user_id post.user.id operator="!="}} --}}
    <script src="/js/addComment.js"></script>
    {{!-- {{/compare}} --}}
    