    <p>------------------------------------------------</p>
    {{!-- comment. --}}
    <a href="/user/{{commentUser.id}}">
    Comment Author User: {{commentUser.username}}
    </a>
    <p>Comment Text:{{body_text}}</p>
    <p>------------------------------------------------</p>
    