    <p>------------------------------------------------</p>
    <form class="form upload-form">
      <div class="form-group">
        <label for="body-post">New Comment:</label>
        <input class="form-input" type="text" id="comment-input" />
      </div>
    </form>

    <button id="add-comment" class="btn btn-primary" type="button" data-id="{{post.id}}">Add Comment</button>
    <p>------------------------------------------------</p>
    {{#compare session.user_id post.user.id operator="=="}}
    <script src="/js/addComment.js"></script>
    {{/compare}}
    