<section class="mr-1 card" style="width:20rem;">
  <div class="card-body">
    <a href="/user/{{id}}">
      <h4 class="card-title"><img
          src="{{profile_image_filename}}"
          class="img-thumbnail rounded-circle"
          style="width:30%"
          alt="profile pic placeholder"
        />
        {{username}}</h4>
    </a>
  </div>
</section>