
<section class="container">
  <h3 class="user-name">{{user.username}}</h3>
  <section class="container">
    {{#if ships}}
    <h1>UNFOLLOW</h1>
    {{/if}}
    {{#unless ships}}
    <h1>FOLLOW</h1>
    {{/unless}}
  </section>
  <section class="flex-row justify-center">
    {{#each user.posts}}
    {{> indivpost-details}}
    {{/each}}
  </section>
</section> 