<section class="container">
  <h3 class="user-name">{{username}}</h3>
  <section class="flex-row justify-center">
    {{#each posts}}
    {{> indivpost-details}}
    {{/each}}
  </section>
</section> 