
<section class="container">
  <h1 class="user-name">{{user.username}}</h1>
  <section class="container">
    {{#unless isUser}}
    <buttton id="follow-btn"class="btn-no-style">
      {{#if hasRelationship}}
      UNFOLLOW
      {{else}}
      FOLLOW
      {{/if}}
    </buttton>
    {{/unless}}
  </section>
  <section class="flex-row justify-center">
    {{#each user.posts}}
    {{> indivpost-details}}
    {{/each}}
  </section>
</section> 
<div id="pageId">{{pageId}}</div>
<script src="/js/follow.js"></script>