
<section class="container">
  {{!-- <section class="container">
    {{#if isUser}}
    <h1>HI</h1>
    {{/if}}
  </section> --}}
  <h3 class="user-name">{{user.username}}</h3>
  <section class="flex-row justify-center">
    {{#each user.posts}}
    {{> indivpost-details}}
    {{/each}}
  </section>
</section> 