<section class="row">
  <div class="col-12">
    <div class="form-group">
      <input type="file" id="image" accept="image/*" name="image" />
    </div>
  </div>
</section>
  <script src="/js/base.js"></script>