<section class="row">
  <div class="login-card">
    <h2 class="page-title">Upload</h2>
    <form class="form upload-form">
      <div class="form-group">
        <label for="body-post">Caption:</label>
        <input class="form-input" type="text" id="body-post" />
      </div>
    </form>
  </div>
  <div class="col-12">
    <div class="form-group">
      <input type="file" id="image" accept="image/*" name="image" />
    </div>
  </div>
</section>
<script src="/js/base.js"></script>